<%- include('header') %>
  <h1>
    Object
  </h1>
  <!-- back button feature that takes the user back to the objects listing for the gallery the clicked object belongs to. A back browser button  would fail in the case where the user starts from google.com, for example, and then jumps to a bookmarked specific object page--using a simple browser back button here would take the user back to google.com instead of to the gallery listing page. When clicked, this back feature finds what gallery an object belongs to and loads that gallery's object listing page. -->
  <button onclick="location.href='/gallery/<%- object.data.gallery.gallerynumber %>'" type="button" type="button" class="btn btn-primary"><span
      class="glyphicon glyphicon-plus"></span>Back to Objects</button></br>
  </br>Title: <%- object.data.title %>
    </br>Description: <%- object.data.description %>
      </br>Provenance: <%- object.data.provenance %>
        </br>Accession Year: <%- object.data.accessionyear %>
          </br><img id="my_img" src="<%= object.data.primaryimageurl %>" alt="" width=200>
<!-- comments box feature -->
          </br></br><form method="post" autocomplete="off">
            <div>
              <input type="text" name="comment" id="comment" value="">
            </div>
            <div>
              <button>Post a comment!</button>
            </div>
          </form>
          <ul>
            <% object.comments.forEach(comment => { %>
              <li>
                <%- comment %>
              </li>
              <% }); %>
          </ul>
          <%- include('footer') %>